<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>A Broad Margin of Leisure | @ViewBag.Page</title>
</head>
<body>
    <div>
        <h1>Admin Page</h1>
        @RenderBody()
    </div>
</body>
</html>
